{
    "Logging": {
        "LogLevel": {
            "Default": "Warning",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*",
    "ConnectionStrings": {
        "DefaultConnection": "Server=YOUR_SERVER_HERE;Database=YOUR_DATABASE_HERE;User Id=SQL_USERNAME_HERE;Password=SQL_PASSWORD_HERE;TrustServerCertificate=True;"
    }
}
